html{
	scroll-behavior: smooth;
}

body{
	background-color: rgb(89, 104, 105);
    background-blend-mode: overlay;

	color:#80D0C7;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 0px;

	height: 100vh;
}

textarea{
	font-family: Arial, Helvetica, sans-serif;
	background: #F8F4F9;
	height: 80vh;
	width: 150vh;
	margin-top: 1vh;
	margin-left: 13vh;
	margin-bottom: 0vh;
	resize: none;
}

h1{
	color: white;
	font-size: 3vh;
	margin-top: 2vh;
	margin-left: 1vh;
	margin-bottom: 1vh;
}

h2{
	font-size: 2.3vh;
	margin-left: 2vh;
	color: white;
}

h4{
	font-size: 1.5vh;
	margin: 0%;
	text-align: left;
	margin-left:13vh;
	margin-right: 1vh;
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

button{
	float: right;
	margin-top: -1vh;
	margin-right: 0vh;
}

li{
	text-align: left;
	margin-left: 0vh;
	color: transparent;
	margin-top: 2vh;
	font-size: 1.5vh;
	font-weight: bold;
}
ul{
	padding-left: 1.5vh;
	margin: 0vh;
}

#streak_focus{
	font-weight:normal;
	font-size: 2vh;
	color: white;
	margin-left: 67vh;
}

#poem{
	font-style: italic;
	font-weight: normal;
	width: 50vh;
	margin-top: 30vh;
	margin-left: 50vh;
	min-height: 10vh;
	line-height: 2.5vh;
}

#poem_quote{
	font-style: italic;
	font-weight: normal;
	width: 50vh;
	margin-top: 1vh;
	margin-left: 90vh;
	min-height: 8vh;
}

.headlineFocus{
	color: white;
	font-size: 4vh;
	margin-top: 4vh;
	margin-left: 13vh;
	margin-bottom: 1vh;
}

.row{
	margin-left: 0%;
	display: flex;
}

.menu{
	background:gray;
	background: linear-gradient(
		135deg,
		rgba(190, 211, 212, 0.3),
		rgba(194, 212, 212, 0.2)
	);	
	width: 10%;
	height: 100vh;	
}

.focusModeText{
	margin-top: 10.5vh;
	margin-left: 70vh;
	font-size: 3vh;
}

/* SWITCH FROM: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-left: 3vh;
	margin-top: 10vh;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #D35269;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #539987;
}

input:focus + .slider {
	box-shadow: 0 0 1px #539987;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}