button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

h4{
	font-size: 20px;
	margin: 0vh;
}

h2{
	font-size: 20px;
	margin-right: 0px;
	margin-top: 10px;
}

a{
	text-decoration: none;
}

.timer{
	margin-top: 0px;
	width: 300px;
	font-size: 15px;
	color: gray;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

.row{
	margin-left: 0%;
	display: flex;
}

/* SWITCH FROM: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
	margin-left: 10px;
	margin-top: 17px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #D35269;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #539987;
}

input:focus + .slider {
	box-shadow: 0 0 1px #539987;
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

.slider.round {
	border-radius: 17px;
}

.slider.round:before {
	border-radius: 50%;
}